#chat-area {
    height: 500px;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 19px 0px rgba(176,176,176,1);
    -moz-box-shadow: 3px 3px 19px 0px rgba(176,176,176,1);
    box-shadow: 3px 3px 19px 0px rgba(176,176,176,1);
    overflow-y: scroll;
}